p{
    color: rgb(113, 4, 95);
}
.para{
    color: rgb(255, 94, 0);
}
div{
    height: 150%;
    width: 80%;
    border-radius: 500px;
    padding: 50px;
    margin:5px 10px 15px 25px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE4Imtwk1zeNexsjoki_6JKF-5hHqlU-jDiQ&s);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div:hover{
    background-color: rgb(240, 217, 1);
}
.para-two{
    margin:5px; 
    padding:5px;
}