p{
    color: rgb(113, 4, 95);
}
.para{
    color: rgb(255, 94, 0);
    font-size: auto;
    font-weight: auto;
 font-family: "Nabla", system-ui;
    font-style: italic;
    text-align: right;
    
}
div{
    height: auto;
    width: 30%;
    border-radius: 55px;
    padding: 50px;
    margin:5px 10px 15px 25px;
    background-color: rgb(21, 206, 190);
    background-repeat: no-repeat;
    background-position: center;
    
}
div:hover{
    
  background-image: url(https://i.ytimg.com/vi/U1bYhqi1Kco/hqdefault.jpg);
    box-shadow:15px 10px 15px 10px rgb(3, 3, 36);
}
.para-two{
    margin:5px; 
    padding:5px;
}

img{
    filter:drop-shadow(15px 15px 15px rgb(218, 14, 3));
    height: 200px;
    width: 400PX;
}